{% include '@AcmeDemo/Twig/menu.html.twig' %}

<h1>Narrowing scope of include</h1>

{% include 'AcmeDemoBundle:Twig:includeWithContent.html.twig' %}
<br/>
{% include 'AcmeDemoBundle:Twig:includeWithContent.html.twig' with {text: text} only %}