<script src="{{ asset('bundles/acmedemo/hinclude-0.9.5/hinclude.js') }}" type="text/javascript"></script>

<p>render(controller('AcmeDemoBundle:Twig:includedESI')):</p>
{{ render(controller('AcmeDemoBundle:Twig:includedESI')) }}

<p>render_esi(controller('AcmeDemoBundle:Twig:includedESI')):</p>
{{ render_esi(controller('AcmeDemoBundle:Twig:includedESI')) }}

<p>render_hinclude(controller('AcmeDemoBundle:Twig:includedESI'))</p>
{{ render_hinclude(controller('AcmeDemoBundle:Twig:includedESI'), {'default': 'Loading...'}) }}