{% include '@AcmeDemo/Twig/menu.html.twig' %}

<h1>Macro example</h1>

{% import '@AcmeDemo/Twig/helper.html.twig' as helpers %}

{{ helpers.renderTable(5, ['red', 'green', 'orange']) }}
{{ helpers.renderTable(15, ['cyan', 'orange']) }}