<h1>Accessing Object Example</h1>

{{ object.property }}<br/>
{{ object.getProperty }}<br/>
{{ object.getProperty() }}<br/>
<br/>
{{ constant('Acme\\DemoBundle\\Model\\SomeObject::SOME_CONSTANT') }}<br/>