<h1>URL Builder</h1>

<p>{{ path('acme_demo_twig_urlwithparams', {'page': 1}) }}</p>
<p>{{ path('acme_demo_twig_urlwithparams', {'page': 1, 'limit': 10}) }}</p>
<p>{{ url('acme_demo_twig_urlwithparams', {'page': 1}) }}</p>
<p>{{ url('acme_demo_twig_urlwithparams', {'page': 1, 'limit': 10}) }}</p>